*{
  box-sizing: border-box;
}
.form {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-content: center;
	padding: 15px 0;
  border: 5px solid black;
}
label{
  
}
input {
  width: 100%;
	margin: 10px 0;

}
.buttonContainer {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
